{{ define "instructions"}}
<ul>
  <li>Use the app to navigate to the next location.</li>
  <li>Complete any activities along the way.</li>
  <li>Only <strong>one player per team</strong> needs to check in.</li>

  <!-- Navigation Mode -->
  {{ if eq .team.Instance.Settings.NavigationMode.String "Random" }}
      <li>You will be shown <strong>{{ .team.Instance.Settings.MaxNextLocations }}</strong> locations at a time.</li>
    {{ if eq .team.Instance.Settings.NavigationMethod.String "Show Clues" }}
      <li>Solve <strong>a clue</strong> to find the next location.</li>
      <li>Each clue is for a <strong>different</strong> location.</li>
    {{ end }}
    {{ if ne .team.Instance.Settings.NavigationMethod.String "Show Clues" }}
      <li>Follow the locations in any order.</li>
    {{ end }}
    <li>The game will tell you if you are at the wrong location.</li>
  {{ end }}
  {{ if eq .team.Instance.Settings.NavigationMode.String "Free Roam" }}
    {{ if eq .team.Instance.Settings.NavigationMethod.String "Show Clues" }}
      <li>Solve a clue to find the next location.</li>
      <li>Each clue is for a <em>different</em> location.</li>
    {{ end }}
      <li>Follow the locations in any order.</li>
  {{ end }}
  <li><strong>Scan the QR code</strong> or <strong>enter the URL</strong> at the location to get the next clue.</li>

</ul>
{{ end }}
