{{ define "show_clues" }} 
<p class="text-center pb-5">
  Solve a clue to find the next location. <br>Each clue is for a different location.
</p>

{{ range .locations }}
{{ if eq (len .Clues) 0 }}
<div>
  <div class="alert alert-secondary">
    <span>
    <strong>Freebie!</strong>
    There are no clues for: <em>“{{ .Name }}”</em>
    </span>
  </div>
</div>
{{ end }}
{{ range .Clues }}
<div class="prose">
  <blockquote class="m-1">
    <p>{{ .Content }}</p>
  </blockquote>
</div>
{{ end }}
{{ end }}

{{ end }}
