{{ define "content" }}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight">
      My Check Ins
    </h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    {{ template "flash" .messages }} 
    {{ if .team }}
    <ul class="list-none text-center mb-5">
      {{ range .team.Scans }}
      <li class="">
        <a
          href="/checkins/{{ .Location.MarkerID }}"
          class="link active
          {{ if eq .Location.ID $.team.BlockingLocation.ID }}
          link-primary
          {{ end }}
          "
        >
          {{ .Location.Name }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
    <div class="flex flex-row justify-center mt-12">
      <a href="/next" class="btn btn-ghost btn-outline">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-compass"><path d="m16.24 7.76-1.804 5.411a2 2 0 0 1-1.265 1.265L7.76 16.24l1.804-5.411a2 2 0 0 1 1.265-1.265z"/><circle cx="12" cy="12" r="10"/></svg>
        Next Location
      </a>
    </div>
  </div>
</div>
{{ end }}
