{{ define "content"}}

<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
  rel="stylesheet"
/>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-compass w-16 h-16 m-auto"><path d="m16.24 7.76-1.804 5.411a2 2 0 0 1-1.265 1.265L7.76 16.24l1.804-5.411a2 2 0 0 1 1.265-1.265z"/><circle cx="12" cy="12" r="10"/></svg>
    <h2
      class="mt-5 mb-3 text-center text-2xl font-bold leading-9 tracking-tight"
    >
      Next location
    </h2>
    {{ template "flash" .messages }}
    {{ template "notifications" .notifications }}

    {{ if eq .team.Instance.Settings.NavigationMethod 0 }}
      {{ template "show_map" . }}
    {{ end }}

    {{ if eq .team.Instance.Settings.NavigationMethod 1 }}
      {{ template "show_map_and_names" . }}
    {{ end }}

    {{ if eq .team.Instance.Settings.NavigationMethod 2 }}
      {{ template "show_names" . }}
    {{ end }}

    {{ if eq .team.Instance.Settings.NavigationMethod 3 }}
      {{ template "show_clues" . }}
    {{ end }}

    <div class="flex flex-row justify-center mt-12">
      <a href="/checkins" class="btn btn-ghost btn-outline">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin" > <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" /> <circle cx="12" cy="10" r="3" /></svg>
        My Check-ins
      </a>
    </div>


  </div>
</div>
{{ end }}
