{{ define "content"}}

<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
  rel="stylesheet"
/>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-compass w-16 h-16 m-auto"><path d="m16.24 7.76-1.804 5.411a2 2 0 0 1-1.265 1.265L7.76 16.24l1.804-5.411a2 2 0 0 1 1.265-1.265z"/><circle cx="12" cy="12" r="10"/></svg>
    <h2
      class="mt-5 mb-3 text-center text-2xl font-bold leading-9 tracking-tight"
    >
      Next location
    </h2>
    {{ template "flash" .messages }}

    {{ if eq .team.Instance.Settings.NavigationMethod 0 }}
      {{ template "show_map" . }}
    {{ end }}

    {{ if eq .team.Instance.Settings.NavigationMethod 1 }}
      {{ template "show_map_and_names" . }}
    {{ end }}

    {{ if eq .team.Instance.Settings.NavigationMethod 2 }}
      {{ template "show_names" . }}
    {{ end }}

    {{ if eq .team.Instance.Settings.NavigationMethod 3 }}
      {{ template "show_clues" . }}
    {{ end }}


  </div>
</div>
<script>
  coords = [170.5111643, -45.8650509]
  zoom = 14
  {{ if .location.Marker.Lng }}
  coords = [{{ .location.Marker.Lng }}, {{ .location.Marker.Lat }}]
  zoom = 18
  {{ end }}

  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    style = 'mapbox://styles/nathanhollows/cl9w3nxff002m14sy9fco4vnr'
  } else {
    style = 'mapbox://styles/nathanhollows/clszboe2y005i01oid8ca37jm'
  }
  mapboxgl.accessToken = '{{ getEnv "MAPBOX_KEY" }}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: style,
    center: coords,
    zoom: zoom
  });

  let markerArray = []
  let marker; // Declare marker variable outside the loop

  {{ range .locations }}
  {{ if .Marker.Lng }}
  marker = new mapboxgl.Marker()
     .setLngLat([{{ .Marker.Lng }},{{ .Marker.Lat }}]);
  marker.addTo(map);
  markerArray.push(marker);
  {{ end }}
  {{ end }}

  // Calculate the bounds
  let bounds = new mapboxgl.LngLatBounds();
  markerArray.forEach(function(marker) {
     bounds.extend(marker.getLngLat());
  });

  // Fit the map to the bounds
  map.fitBounds(bounds, { padding: 50 });
</script>
{{ end }}
