{{ define "content"}}

<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
  rel="stylesheet"
/>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide w-16 h-16 lucide-qr-code m-auto"
    >
      <rect
        width="5"
        height="5"
        x="3"
        y="3"
        rx="1"
      />
      <rect
        width="5"
        height="5"
        x="16"
        y="3"
        rx="1"
      />
      <rect
        width="5"
        height="5"
        x="3"
        y="16"
        rx="1"
      />
      <path d="M21 16h-3a2 2 0 0 0-2 2v3" />
      <path d="M21 21v.01" />
      <path d="M12 7v3a2 2 0 0 1-2 2H7" />
      <path d="M3 12h.01" />
      <path d="M12 3h.01" />
      <path d="M12 16v.01" />
      <path d="M16 12h1" />
      <path d="M21 12v.01" />
      <path d="M12 21v-1" />
    </svg>
    <h2
      class="mt-5 mb-3 text-center text-2xl font-bold leading-9 tracking-tight"
    >
      Next location
    </h2>
    {{ template "flash" .messages }}
    <p class="text-center pb-5">
      You may choose any of the following locations. Use the map below to help
      find where you want to go.
    </p>
      {{ range .locations }}
    <p class="text-center pb-3">
      <em> {{ .Name }}</em> <br><span class="badge badge-ghost">
        {{ .CurrentCount }} Teams Visiting
      </span>
    </p>
      {{ end }}
    <div
      id="map"
      class="w-full h-96 rounded-lg shadow-lg mt-5"
    ></div>
  </div>
</div>
<script>
 coords = [170.5111643, -45.8650509]
 zoom = 14
 {{ if .location.Longitude }}
 coords = [{{ .location.Longitude }}, {{ .location.Latitude }}]
 zoom = 18
 {{ end }}

 mapboxgl.accessToken = 'pk.eyJ1IjoibmF0aGFuaG9sbG93cyIsImEiOiJjbHN6YmpleHEwbWRpMnFyb3JwMHpjZWx3In0.ZizoPaB-7dh-SthWBD2dBw';
 var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/nathanhollows/clszboe2y005i01oid8ca37jm',
      center: coords,
      zoom: zoom
 });

 let markerArray = []
 let marker; // Declare marker variable outside the loop

 {{ range .locations }}
 marker = new mapboxgl.Marker()
    .setLngLat([{{ .Lng }}, {{ .Lat }}]);
 marker.addTo(map);
 markerArray.push(marker);
 {{ end }}

 // Calculate the bounds
 let bounds = new mapboxgl.LngLatBounds();
 markerArray.forEach(function(marker) {
    bounds.extend(marker.getLngLat());
 });

 // Fit the map to the bounds
 map.fitBounds(bounds, { padding: 50 });
</script>
  });

  // Fit the map to the bounds
  map.fitBounds(bounds, { padding: 100 });
</script>
{{ end }}
