{{ define "content"}}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">← Back to Rapua</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/login" class="btn btn-sm btn-primary">Login</a></li>
    </ul>
  </div>
</div>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide w-16 h-16 lucide-qr-code m-auto"
    >
      <rect
        width="5"
        height="5"
        x="3"
        y="3"
        rx="1"
      />
      <rect
        width="5"
        height="5"
        x="16"
        y="3"
        rx="1"
      />
      <rect
        width="5"
        height="5"
        x="3"
        y="16"
        rx="1"
      />
      <path d="M21 16h-3a2 2 0 0 0-2 2v3" />
      <path d="M21 21v.01" />
      <path d="M12 7v3a2 2 0 0 1-2 2H7" />
      <path d="M3 12h.01" />
      <path d="M12 3h.01" />
      <path d="M12 16v.01" />
      <path d="M16 12h1" />
      <path d="M21 12v.01" />
      <path d="M12 21v-1" />
    </svg>
    <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight">
      Register for Rapua
    </h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    {{ template "flash" .messages }}
    <form
      class="space-y-6"
      method="post"
    >
      <div>
        <label
          class="form-control w-full"
          for="location"
          ><div class="label font-bold">
            <span class="label-text">Name</span>
          </div>
          <input
            id="name"
            name="name"
            type="test"
            class="input input-bordered input-lg w-full"
            placeholder="Jane Doe"
            autofocus
        /></label>
      </div>
      <div>
        <label
          class="form-control w-full"
          for="location"
          ><div class="label font-bold">
            <span class="label-text">Email</span>
          </div>
          <input
            id="email"
            name="email"
            type="email"
            class="input input-bordered input-lg w-full"
            placeholder="user@gmail.com"
        /></label>
      </div>
      <div>
        <label
          class="form-control w-full"
          for="team"
          ><div class="label font-bold">
            <span class="label-text">Password</span>
          </div>
          <input
            id="password"
            name="password"
            type="password"
            class="input input-bordered input-lg w-full text-2xl"
        /></label>
      </div>
      <div>
        <label
          class="form-control w-full"
          for="team"
          ><div class="label font-bold">
            <span class="label-text">Confirm Password</span>
          </div>
          <input
            id="password-confirm"
            name="password-confirm"
            type="password"
            class="input input-bordered input-lg w-full text-2xl"
          /></label>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-neutral w-full"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>

<style>
  html {
    background-color: #efeae6;
  }
</style>

{{ end }}
