{{ define "content" }}
<h1 class="text-2xl p-5 font-bold">Activity tracker</h1>

<div class="stats shadow">
  <div class="stat place-items-center">
    <div class="stat-title">Scans</div>
    <div class="stat-value">31</div>
    <div class="stat-desc">Check ins</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Currently scanned in teams</div>
    <div class="stat-value text-secondary">4</div>
    <div class="stat-desc text-secondary">↗︎ 40 (2%)</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Average time spent</div>
    <div class="stat-value">1,200</div>
    <div class="stat-desc">↘︎ 90 (14%)</div>
  </div>
</div>
{{end}}
