{{ define "content" }}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
  rel="stylesheet"
/>
<h1 class="text-2xl p-5 font-bold">Activity tracker</h1>

<div class="relative flex flex-col md:flex-row m-5 md:space-x-5">
  <div class="w-full md:w-5/12">
    <div
      id="map"
      class="w-full h-96 rounded-lg shadow-lg my-5"
    ></div>
    <div class="join join-vertical w-full">
      {{ range $index, $location := .locations }}
      <div
        class="flex flex-row justify-between items-center space-x-3 bg-white rounded-lg p-4 border join-item"
      >
        <div class="flex flex-row items-center space-x-3 grow">
          <strong> {{ add $index 1 }} </strong>
          <a
            href="/admin/locations/{{ .Code }}"
            class="link flex-grow"
            >{{ .Name }}</a
          >

          <span
            class="tooltip flex space-x-2"
            data-tip="{{ .CurrentCount }} currently visiting, {{ .TotalVisits }} scans total"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-scan-face"
            >
              <path d="M3 7V5a2 2 0 0 1 2-2h2" />
              <path d="M17 3h2a2 2 0 0 1 2 2v2" />
              <path d="M21 17v2a2 2 0 0 1-2 2h-2" />
              <path d="M7 21H5a2 2 0 0 1-2-2v-2" />
              <path d="M8 14s1.5 2 4 2 4-2 4-2" />
              <path d="M9 9h.01" />
              <path d="M15 9h.01" />
            </svg>
            <strong> {{ .CurrentCount }} </strong> /
            <strong>{{ .TotalVisits }} </strong>
            {{ if .AvgDuration }}
            <p class="flex flex-row space-x-3 text-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-timer"
              >
                <line
                  x1="10"
                  x2="14"
                  y1="2"
                  y2="2"
                />
                <line
                  x1="12"
                  x2="15"
                  y1="14"
                  y2="11"
                />
                <circle
                  cx="12"
                  cy="14"
                  r="8"
                />
              </svg>
              <span> {{ toDuration .AvgDuration }} </span>
            </p>
            {{ end }}
          </span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <table
    class="table table-sm table-zebra-zebra w-full mt-5 md:mt-0 md:w-7/12 h-auto self-start"
  >
    <thead>
      <tr class="text-center">
        <th
          scope="col"
          class="text-start"
        >
          Team Code
        </th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
      </tr>
    </thead>
    <tbody>
      {{ range .activity }}
      <tr>
        <th scope="row">{{ .team.Code }}</th>
        {{ range .locations}}
        <td class="text-center">
          {{ if .visiting }}●{{ else if .visited }}✔{{ end }}
        </td>
        {{ end }}
      </tr>

      {{ end }} {{ if eq (len .activity) 0 }}
      <tr>
        <th
          scope="row"
          colspan="100%"
          class="text-center"
        >
          No teams to show yet
        </th>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
<script defer>
  coords = [170.5111643, -45.8650509]
  zoom = 14
  {{ if .location.Longitude }}
  coords = [{{ .location.Longitude }}, {{ .location.Latitude }}]
  zoom = 18
  {{ end }}

  mapboxgl.accessToken = 'pk.eyJ1IjoibmF0aGFuaG9sbG93cyIsImEiOiJjbHN6YmpleHEwbWRpMnFyb3JwMHpjZWx3In0.ZizoPaB-7dh-SthWBD2dBw';
  var map = new mapboxgl.Map({
       container: 'map',
       style: 'mapbox://styles/nathanhollows/clszboe2y005i01oid8ca37jm',
       center: coords,
       zoom: zoom
  });

  let markerArray = []
  let marker; // Declare marker variable outside the loop

  {{ range .locations }}
  marker = new mapboxgl.Marker()
     .setLngLat([{{ .Lng }}, {{ .Lat }}]);
  marker.addTo(map);
  markerArray.push(marker);
  {{ end }}

  // Calculate the bounds
  let bounds = new mapboxgl.LngLatBounds();
  markerArray.forEach(function(marker) {
     bounds.extend(marker.getLngLat());
  });

  // Fit the map to the bounds
  map.fitBounds(bounds, { padding: 50 });
</script>
{{end}}
