{{ define "content" }}
<div class="flex flex-row justify-between items-center w-full py-5">
  <h1 class="text-2xl p-5 font-bold">Instances</h1>

  <button
    class="btn btn-primary"
    onclick="my_modal_1.showModal()"
  >
    Create a new instance
  </button>
</div>

<div class="flex flex-row justify-between items-center w-full py-5">
{{ template "flash" .messages }} 
</div>

{{ if .instances }}
<div class=":">
  <table class="table">
    <thead>
      <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .instances }}
      <tr>
        <td>{{ .Name }}</td>
        <td>
          <a
            href="/admin/instances/{{ .ID }}/edit"
            class="btn btn-sm"
            >Edit</a>

          <a
            href="/admin/instances/{{ .ID }}/delete"
            class="btn btn-warning btn-sm"
            >Delete</a
          >
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ else }}
<p class="py-4">No instances to show.</p>
{{ end }} 

{{ template "modal" . }} 
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <form method="post" action="/admin/instances/new">
      <h3 class="text-lg font-bold">Create a new instance</h3>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">What is the name of the new instance?</span>
        </div>
        <input type="text" class="input input-bordered w-full" name="name" />
      </label>
      <div class="modal-action">
        <button
          class="btn"
          onclick="my_modal_1.close()"
        > 
          Nevermind
        </button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</dialog>
{{ end }} 

{{ define "modal" }} 
{{ end }}
