{{ define "content" }}

<!-- Header -->
<div class="flex flex-col md:flex-row justify-between items-center w-full py-5">
  <h1 class="text-2xl p-5 font-bold">Locations ({{ len .locations }})</h1>
  <span class="flex md:flex-row flex-wrap justify-center space-x-3">
    <a
      class="btn btn-base btn-coords_id mb-3 md:mb-0"
      href="/admin/locations/qr-codes.zip"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-image-down"
      >
        <path
          d="M10.3 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10l-3.1-3.1a2 2 0 0 0-2.814.014L6 21"
        />
        <path d="m14 19 3 3v-5.5" />
        <path d="m17 22 3-3" />
        <circle
          cx="9"
          cy="9"
          r="2"
        />
      </svg>
      Download QR codes
    </a>
    <a
      class="btn btn-base btn-outline"
      href="/admin/locations/posters.pdf"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-file-down"
      >
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
        <path d="M12 18v-6" />
        <path d="m9 15 3 3 3-3" />
      </svg>
      Download Posters
    </a>
    <a
      href="/admin/locations/new"
      class="btn btn-primary"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus"
      >
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
      Add Location
    </a>
  </span>
</div>

<!-- Messages -->
{{ template "flash" .messages }}

<!-- Locations -->

<div class="join join-vertical w-full shadow mb-5">
  {{ range .locations }}

  <div
    class="flex flex-row justify-between items-center space-x-3 bg-white rounded-lg p-4 border join-item"
  >
    <div class="flex flex-row items-center space-x-3 grow">
      {{ if .Coords.Lat }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-map-pin tooltip"
        data-tip="Location has coordinates set"
      >
        <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" />
        <circle
          cx="12"
          cy="10"
          r="3"
        />
      </svg>
      {{ else }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-map-pin-off tooltip"
        data-tip="Location has no coordinates set"
      >
        <path
          d="M5.43 5.43A8.06 8.06 0 0 0 4 10c0 6 8 12 8 12a29.94 29.94 0 0 0 5-5"
        />
        <path
          d="M19.18 13.52A8.66 8.66 0 0 0 20 10a8 8 0 0 0-8-8 7.88 7.88 0 0 0-3.52.82"
        />
        <path
          d="M9.13 9.13A2.78 2.78 0 0 0 9 10a3 3 0 0 0 3 3 2.78 2.78 0 0 0 .87-.13"
        />
        <path d="M14.9 9.25a3 3 0 0 0-2.15-2.16" />
        <line
          x1="2"
          x2="22"
          y1="2"
          y2="22"
        />
      </svg>
      {{ end }}
      <div
        class="badge badge-ghost basis-20 tooltip"
        data-tip="Unique location code"
      >
        {{ .Coords.Code }}
      </div>
      <a
        href="/admin/locations/{{ .Coords.Code }}"
        class="link flex-grow"
        >{{ .Coords.Name }}</a
      >

      <span
        class="tooltip flex space-x-2"
        data-tip="{{ .Coords.CurrentCount }} currently visiting, {{ .Coords.TotalVisits }} scans total"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-scan-face"
        >
          <path d="M3 7V5a2 2 0 0 1 2-2h2" />
          <path d="M17 3h2a2 2 0 0 1 2 2v2" />
          <path d="M21 17v2a2 2 0 0 1-2 2h-2" />
          <path d="M7 21H5a2 2 0 0 1-2-2v-2" />
          <path d="M8 14s1.5 2 4 2 4-2 4-2" />
          <path d="M9 9h.01" />
          <path d="M15 9h.01" />
        </svg>
        <strong> {{ .Coords.CurrentCount }} </strong> /
        <strong>{{ .Coords.TotalVisits }} </strong>
        {{ if .Coords.AvgDuration }}
        <p class="flex flex-row space-x-3 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-timer"
          >
            <line
              x1="10"
              x2="14"
              y1="2"
              y2="2"
            />
            <line
              x1="12"
              x2="15"
              y1="14"
              y2="11"
            />
            <circle
              cx="12"
              cy="14"
              r="8"
            />
          </svg>
          <span> {{ toDuration .Coords.AvgDuration }} </span>
        </p>
        {{ end }}
      </span>
    </div>
  </div>
  {{ end }}
</div>
{{end}}
