{{ define "content" }}

<div class="flex flex-row justify-between items-center w-full p-5">
  <h1 class="text-2xl font-bold">Activity tracker</h1>
</div>

<!-- Messages -->
<div class="my-5">
  {{ template "flash" .messages }}
</div>

<div class="relative flex flex-col md:flex-row px-5 md:space-x-5">
  <div class="w-full md:w-5/12">
    <div
      id="map"
      class="w-full h-96 rounded-lg shadow-lg my-5"
    ></div>
    <div class="join join-vertical w-full">
    {{ if not (len .locations) }}
      <div role="alert" class="alert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-info h-6 w-6 shrink-0">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>No locations available</span>
        <div>
          <a href="/admin/locations/new" class="btn btn-sm btn-primary">Add a location</a>
        </div>
      </div>
    {{ end }}
      {{ if (len .locations) }}
      {{ range $index, $location := .locations }}
      <div
        class="flex flex-row justify-between items-center space-x-3 bg-base-200 border-base-300 rounded-lg p-4 join-item"
      >
        <div class="flex flex-row items-center space-x-3 grow">
          <strong> {{ add $index 1 }} </strong>
          <a
            href="/admin/locations/{{ .Marker.Code }}"
            class="link flex-grow"
            >{{ .Marker.Name }}</a
          >

          <span
            class="tooltip flex space-x-2"
            data-tip="{{ .Marker.CurrentCount }} currently visiting, {{ .Marker.TotalVisits }} scans total"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-scan-face"
            >
              <path d="M3 7V5a2 2 0 0 1 2-2h2" />
              <path d="M17 3h2a2 2 0 0 1 2 2v2" />
              <path d="M21 17v2a2 2 0 0 1-2 2h-2" />
              <path d="M7 21H5a2 2 0 0 1-2-2v-2" />
              <path d="M8 14s1.5 2 4 2 4-2 4-2" />
              <path d="M9 9h.01" />
              <path d="M15 9h.01" />
            </svg>
            <strong> {{ .Marker.CurrentCount }} </strong> /
            <strong>{{ .Marker.TotalVisits }} </strong>
            {{ if .Marker.AvgDuration }}
            <p class="flex flex-row space-x-3 text-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-timer"
              >
                <line
                  x1="10"
                  x2="14"
                  y1="2"
                  y2="2"
                />
                <line
                  x1="12"
                  x2="15"
                  y1="14"
                  y2="11"
                />
                <circle
                  cx="12"
                  cy="14"
                  r="8"
                />
              </svg>
              <span> {{ toDuration .Marker.AvgDuration }} </span>
            </p>
            {{ end }}
          </span>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <table
    class="table table-sm w-full mt-5 md:mt-0 md:w-7/12 h-auto self-start"
  >
    <thead>
      <tr class="text-center">
        <th
          scope="col"
          class="text-start"
        >
          Team Code
        </th>
        {{ range $i, $e := .locations }}
        <th scope="col">{{ add $i 1 }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ $count := 0 }}
      {{ range .teams }}
        {{ if not .HasStarted }}{{ continue }}{{ end }}
        {{ $count = add $count 1 }}
        <tr class="hover">
          <th scope="row">{{ .Code }}</th>
          {{ $team := . }}
          {{ range $.locations }}
            {{ $found := false }}
            {{ $location := . }}
            {{ range $team.Scans }}
              {{ if eq .LocationID $location.ID }}
                <td class="text-center">
                  {{ if .MustScanOut }}●{{ else }}✔{{ end }}
                </td>
                {{ $found = true }}
                {{ continue }}
              {{ end }}
            {{ end }}
            {{ if not $found }}
              <td class="text-center"></td>
            {{ end }}
          {{ end }}
        </tr>
      {{ end }} 

      {{ if not $count }}
      <tr>
        <th
          scope="row"
          colspan="100%"
          class="text-center"
        >
          No <a href="/admin/teams" class="link">teams</a> to show yet 😢
        </th>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<script defer>
  coords = [170.5111643, -45.8650509]
  zoom = 17
  {{ if .locations }}
  coords = [{{ (index .locations 0).Marker.Lng }}, {{ (index .locations 0).Marker.Lat }}]
  {{ end }}

  mapboxgl.accessToken = '{{ getEnv "MAPBOX_KEY" }}';
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    style = 'mapbox://styles/nathanhollows/cl9w3nxff002m14sy9fco4vnr'
  } else {
    style = 'mapbox://styles/nathanhollows/clszboe2y005i01oid8ca37jm'
  }
  var map = new mapboxgl.Map({
       container: 'map',
       style: style,
       center: coords,
       zoom: zoom
  });

  let markerArray = []
  let marker; // Declare marker variable outside the loop

  {{ range .locations }}
  {{ if .Marker.Lat }}
  marker = new mapboxgl.Marker()
     .setLngLat([{{ .Marker.Lng }}, {{ .Marker.Lat }}]);
  markerArray.push(marker);
  {{ end }}
  {{ end }}

  // Order the markers by their their latitudes and re-add them to the map
  markerArray.sort(function(a, b) {
    // If northern hemisphere, sort by descending latitude
    if (a.getLngLat().lat < 0) {
      return b.getLngLat().lat - a.getLngLat().lat;
    }
    return a.getLngLat().lat - b.getLngLat().lat;
  });
  for (let i = 0; i < markerArray.length; i++) {
    markerArray[i].addTo(map);
  }

  // Calculate the bounds
  let bounds = new mapboxgl.LngLatBounds();
  markerArray.forEach(function(marker) {
     bounds.extend(marker.getLngLat());
  });

  // Fit the map to the bounds
  map.fitBounds(bounds, { padding: 50 });
</script>
{{end}}
