{{ define "content" }}

<div class="flex flex-row justify-between items-center w-full p-5">
  <h1 class="text-2xl font-bold">Activity tracker</h1>
  <div class="flex gap-3">
    <div class="join">
      {{ if ne .user.CurrentInstance.GetStatus.String "Active" }}
      <a href="/admin/schedule/start" class="btn btn-outline flex join-item tooltip"data-tip="Start the game">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play w-5 h-5"><polygon points="6 3 20 12 6 21 6 3"/></svg>
      </a>
      {{ end }}
      {{ if ne .user.CurrentInstance.GetStatus.String "Active" }}
      <button class="btn btn-outline flex join-item tooltip" onclick="schedule_modal.showModal()" data-tip="Sechedule">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-clock w-5 h-5"><path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/><path d="M16 2v4"/><path d="M8 2v4"/><path d="M3 10h5"/><path d="M17.5 17.5 16 16.3V14"/><circle cx="16" cy="16" r="6"/></svg>
      </button>
      {{ end }}
      {{ if eq .user.CurrentInstance.GetStatus.String "Active" }}
      <a href="/admin/schedule/stop" class="btn btn-outline flex join-item tooltip" data-tip="Stop the game">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-octagon-x w-5 h-5"><path d="m15 9-6 6"/><path d="M2.586 16.726A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2h6.624a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586z"/><path d="m9 9 6 6"/></svg>
      </a>
      {{ end }}
    </div>
    <button class="btn btn-secondary" onclick="announcement_modal.showModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-megaphone"><path d="m3 11 18-5v12L3 14v-3z"/><path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"/></svg>
      Announcement
    </button>
  </div>
</div>

<!-- Messages -->
<div class="my-5">
  {{ template "flash" .messages }}
</div>

<div class="relative flex flex-col md:flex-row px-5 md:space-x-5">
  <div class="w-full md:w-5/12">
    <div
      id="map"
      class="w-full h-96 rounded-lg shadow-lg my-5"
    ></div>
    <div class="join join-vertical w-full">
    {{ if not (len .locations) }}
      <div role="alert" class="alert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-info h-6 w-6 shrink-0">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>No locations available</span>
        <div>
          <a href="/admin/locations/new" class="btn btn-sm btn-secondary">Add a location</a>
        </div>
      </div>
    {{ end }}
      {{ if (len .locations) }}
      {{ range $index, $location := .locations }}
      <div
        class="flex flex-row justify-between items-center space-x-3 bg-base-200 border-base-300 rounded-lg p-4 join-item"
      >
        <div class="flex flex-row items-center space-x-3 grow">
          <strong> {{ add $index 1 }} </strong>
          <a
            href="/admin/locations/{{ .Marker.Code }}"
            class="link flex-grow"
            >{{ .Marker.Name }}</a
          >

          {{ if eq $.user.CurrentInstance.Settings.CompletionMethod.String "Check In and Out" }}
          <span
            class="tooltip flex space-x-2"
            data-tip="{{ .CurrentCount }} currently visiting, {{ .TotalVisits }} scans total"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scan-face" > <path d="M3 7V5a2 2 0 0 1 2-2h2" /> <path d="M17 3h2a2 2 0 0 1 2 2v2" /> <path d="M21 17v2a2 2 0 0 1-2 2h-2" /> <path d="M7 21H5a2 2 0 0 1-2-2v-2" /> <path d="M8 14s1.5 2 4 2 4-2 4-2" /> <path d="M9 9h.01" /> <path d="M15 9h.01" /> </svg>
            <strong> {{ .CurrentCount }} </strong> /
            <strong>{{ .TotalVisits }} </strong>
            {{ if .AvgDuration }}
            <p class="flex flex-row space-x-3 text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-timer" > <line x1="10" x2="14" y1="2" y2="2" /> <line x1="12" x2="15" y1="14" y2="11" /> <circle cx="12" cy="14" r="8" /> </svg>
              <span> {{ toDuration .AvgDuration }} </span>
            </p>
            {{ end }}
          </span>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <table
    class="table table-sm w-full mt-5 md:mt-0 md:w-7/12 h-auto self-start"
  >
    <thead>
      <tr class="text-center">
        <th
          scope="col"
          class="text-start"
        >
          Team Code
        </th>
        {{ range $i, $e := .locations }}
        <th scope="col">{{ add $i 1 }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ $count := 0 }}
      {{ range .teams }}
        {{ if not .HasStarted }}{{ continue }}{{ end }}
        {{ $count = add $count 1 }}
        <tr class="hover">
          <th scope="row">{{ .Code }}</th>
          {{ $team := . }}
          {{ range $.locations }}
            {{ $found := false }}
            {{ $location := . }}
            {{ range $team.Scans }}
              {{ if eq .LocationID $location.ID }}
                <td class="text-center">
                  {{ if .MustScanOut }}●{{ else }}✔{{ end }}
                </td>
                {{ $found = true }}
                {{ continue }}
              {{ end }}
            {{ end }}
            {{ if not $found }}
              <td class="text-center"></td>
            {{ end }}
          {{ end }}
        </tr>
      {{ end }} 

      {{ if not $count }}
      <tr>
        <th
          scope="row"
          colspan="100%"
          class="text-center"
        >
          No <a href="/admin/teams" class="link">teams</a> to show yet 😢
        </th>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<dialog id="schedule_modal" class="modal modal-bottom sm:modal-middle">
  <form method="post" action="/admin/schedule/" class="modal-box">
    <h3 class="text-lg font-bold">Schedule a Game</h3>

    <p class="py-3">
      Schedule a game to start and/or end at a specific time. 
    </p>

    <div class="divider">
      <div class="form-control">
        <label class="label cursor-pointer flex gap-3">
          Scheduled Start
          <input type="checkbox" name="set_start" class="checkbox" />
        </label>
      </div>
    </div>

    {{ .user.CurrentInstance.StartTime }}

    <div class="join flex justify-center mb-5">
      <input type="date" name="start_date" class="input input-bordered join-item" />
      <input type="time" name="start_time" class="input input-bordered join-item" />
    </div>

    <div class="divider">
      <div class="form-control">
        <label class="label cursor-pointer flex gap-3">
          Scheduled End
          <input type="checkbox" name="set_end" class="checkbox" />
        </label>
      </div>
    </div>

    {{ .user.CurrentInstance.EndTime }}

    <div class="join flex justify-center">
      <input type="date" name="end_date" class="input input-bordered join-item" />
      <input type="time" name="end_time" class="input input-bordered join-item" />
    </div>


    <div class="modal-action">
        <button class="btn" onclick="event.preventDefault(); schedule_modal.close()">Nevermind</button>
        <button class="btn btn-primary">Save</button>
    </div>
  </form>
</dialog>

<dialog id="announcement_modal" class="modal">
  <form method="post" action="/admin/notify/all" class="modal-box">
    <h3 class="text-lg font-bold">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-megaphone inline-block w-5 h-5 mb-1 mr-2"><path d="m3 11 18-5v12L3 14v-3z"/><path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"/></svg>
      Announcement
    </h3>
    <p class="py-3">Send an announcement to all teams.</p>

    <textarea class="textarea textarea-bordered w-full" name="content" placeholder="Announcement"></textarea>

    <p class="text-sm py-3"><em>Note:</em> This will only be sent to teams that have already started playing.</p>
    <div class="modal-action">
        <button class="btn" onclick="event.preventDefault(); announcement_modal.close()">Nevermind</button>
        <button class="btn btn-primary">Send</button>
    </div>
  </form>
</dialog>

<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<script defer>
  coords = [170.5111643, -45.8650509]
  zoom = 17
  {{ if .locations }}
  coords = [{{ (index .locations 0).Marker.Lng }}, {{ (index .locations 0).Marker.Lat }}]
  {{ end }}

  mapboxgl.accessToken = '{{ getEnv "MAPBOX_KEY" }}';
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    style = 'mapbox://styles/nathanhollows/cl9w3nxff002m14sy9fco4vnr'
  } else {
    style = 'mapbox://styles/nathanhollows/clszboe2y005i01oid8ca37jm'
  }
  var map = new mapboxgl.Map({
       container: 'map',
       style: style,
       center: coords,
       zoom: zoom
  });

  let markerArray = []
  let marker; // Declare marker variable outside the loop

  {{ range .locations }}
  {{ if .Marker.Lat }}
  marker = new mapboxgl.Marker()
     .setLngLat([{{ .Marker.Lng }}, {{ .Marker.Lat }}]);
  markerArray.push(marker);
  {{ end }}
  {{ end }}

  // Order the markers by their their latitudes and re-add them to the map
  markerArray.sort(function(a, b) {
    // If northern hemisphere, sort by descending latitude
    if (a.getLngLat().lat < 0) {
      return b.getLngLat().lat - a.getLngLat().lat;
    }
    return a.getLngLat().lat - b.getLngLat().lat;
  });
  for (let i = 0; i < markerArray.length; i++) {
    markerArray[i].addTo(map);
  }

  // Calculate the bounds
  let bounds = new mapboxgl.LngLatBounds();
  markerArray.forEach(function(marker) {
     bounds.extend(marker.getLngLat());
  });

  // Fit the map to the bounds
  map.fitBounds(bounds, { padding: 50 });
</script>
{{end}}
