{{ define "content" }}

<!-- Header -->
<div class="flex flex-col md:flex-row justify-between items-center w-full p-5">
  <h1 class="text-2xl font-bold">Locations 
    <span class="badge badge-ghost">{{ len .locations }}</span>
  </h1>
  <span class="flex md:flex-row flex-wrap justify-center space-x-3">
    {{ if len .locations }}
    <div class="join">
      <a
        class="btn btn-base btn-outline join-item mb-3 md:mb-0"
        href="/admin/locations/qr-codes.zip"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-down" > <path d="M10.3 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10l-3.1-3.1a2 2 0 0 0-2.814.014L6 21" /> <path d="m14 19 3 3v-5.5" /> <path d="m17 22 3-3" /> <circle cx="9" cy="9" r="2" /></svg>
        Download QR codes
      </a>
      <a
        class="btn btn-base btn-outline join-item"
        href="/admin/locations/posters.pdf"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-down" > <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" /> <path d="M14 2v4a2 2 0 0 0 2 2h4" /> <path d="M12 18v-6" /> <path d="m9 15 3 3 3-3" /></svg>
        Download Posters
      </a>
    </div>
    {{ end }}
    <a
      href="/admin/locations/new"
      class="btn btn-secondary"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-plus w-5 h-5"><path d="M19.914 11.105A7.298 7.298 0 0 0 20 10a8 8 0 0 0-16 0c0 4.993 5.539 10.193 7.399 11.799a1 1 0 0 0 1.202 0 32 32 0 0 0 .824-.738"/><circle cx="12" cy="10" r="3"/><path d="M16 18h6"/><path d="M19 15v6"/></svg>
      Add Location
    </a>
  </span>
</div>

<!-- Messages -->
<div class="p-5">
  {{ template "flash" .messages }}
  {{ if not .locations }}
  <div class="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-alert-circle text-neutral" > <circle cx="12" cy="12" r="10" /> <line x1="12" x2="12" y1="8" y2="12" /> <line x1="12" x2="12.01" y1="16" y2="16" /> </svg>
    <span> <strong>Nothing to see!</strong> The are no locations to display. </span>
  </div>
  {{ end }}
</div>

<!-- Locations list -->
<div class="px-5">
  <form class="join join-vertical w-full shadow
    {{ if eq $.user.CurrentInstance.Settings.NavigationMode.String "Ordered" }}sortable{{ end }}
    " hx-post="/admin/locations/reorder" hx-trigger="end" hx-swap="none"
  >
    {{ range .locations }}
    <div
      class="flex flex-row justify-between items-center space-x-3 bg-base-200 rounded-lg p-4 join-item" data-order="{{ .Order }}"
    >
      <div class="flex flex-row items-center space-x-3 grow">
        <!-- Drag handle -->
        {{ if eq $.user.CurrentInstance.Settings.NavigationMode.String "Ordered" }}
        <div
          class="tooltip tooltip-right flex gap-3 cursor-move"
          data-tip="Drag to reorder">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grip-vertical"><circle cx="9" cy="12" r="1"/><circle cx="9" cy="5" r="1"/><circle cx="9" cy="19" r="1"/><circle cx="15" cy="12" r="1"/><circle cx="15" cy="5" r="1"/><circle cx="15" cy="19" r="1"/></svg>
        </div>
        <input type="hidden" name="location" value="{{ .MarkerID }}">
        {{ end }}

        <!-- Marker icon -->
        {{ if .Marker.Lat }}
        <span 
          class="tooltip cursor-help"
          data-tip="Has coordinates"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin" > <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" /> <circle cx="12" cy="10" r="3" /> </svg>
        </span>
        {{ else }}
        <span
          class="tooltip cursor-help"
          data-tip="No coordinates set"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-off tooltip" data-tip="Location has no coordinates set" > <path d="M5.43 5.43A8.06 8.06 0 0 0 4 10c0 6 8 12 8 12a29.94 29.94 0 0 0 5-5" /> <path d="M19.18 13.52A8.66 8.66 0 0 0 20 10a8 8 0 0 0-8-8 7.88 7.88 0 0 0-3.52.82" /> <path d="M9.13 9.13A2.78 2.78 0 0 0 9 10a3 3 0 0 0 3 3 2.78 2.78 0 0 0 .87-.13" /> <path d="M14.9 9.25a3 3 0 0 0-2.15-2.16" /> <line x1="2" x2="22" y1="2" y2="22" /> </svg>
        </span>
        {{ end }}

        <!-- Clue indicator -->
        {{ if eq $.user.CurrentInstance.Settings.NavigationMethod.String "Show Clues" }}
          {{ if eq (len .Clues) 0 }}
          <span class="tooltip text-neutral cursor-help" data-tip="No clues">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-x"><path d="m13.5 8.5-5 5"/><path d="m8.5 8.5 5 5"/><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          </span>
          {{ else }}
          <span class="tooltip cursor-help" data-tip="Has clues">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          </span>
          {{ end }}
        {{ end }}

        <div
          class="badge badge-ghost basis-16 tooltip"
          data-tip="Unique location code"
        >
          <code>
          {{ .Marker.Code }}
          </code>
        </div>
        <a
          href="/admin/locations/{{ .Marker.Code }}"
          class="link flex-grow"
        >{{ .Marker.Name }}</a
        >

    </div>
  </div>
  {{ end }}
</form>
</div>

<script src="/assets/js/Sortable.min.js"></script>
<script src="/assets/js/htmx.min.js"></script>
<script>
htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      var sortableInstance = new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class',
          handle: ".cursor-move",

          // Make the `.htmx-indicator` unsortable
          filter: ".htmx-indicator",
          onMove: function (evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
          },

          // Disable sorting on the `end` event
          onEnd: function (evt) {
            this.option("disabled", true);
          }
      });

      // Re-enable sorting on the `htmx:afterSwap` event
      sortable.addEventListener("htmx:afterSwap", function() {
        sortableInstance.option("disabled", false);
      });
    }
})

htmx.on('htmx:beforeRequest', function(evt) {
  const toastContainer = document.getElementById('toast-container');
  if (!toastContainer) {
    const container = document.createElement('div');
    container.id = 'toast-container';
    container.className = 'toast toast-end';
    document.body.appendChild(container);
  }
});

htmx.on('htmx:afterRequest', function(evt) {
  const toastContainer = document.getElementById('toast-container');

  const showToast = (message, type) => {
    const toast = document.createElement('div');
    toast.className = `alert alert-${type}`;
    toast.innerHTML = `<span>${message}</span>`;
    toastContainer.appendChild(toast);
    setTimeout(() => toast.remove(), 5000);
  };

  if (evt.detail.successful) {
    showToast('Locations reordered successfully!', 'success');
  } else {
    showToast('Failed to reorder locations.', 'error');
  }
});
</script>
{{end}}
