{{ define "content" }}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
  rel="stylesheet"
/>

<div class="flex flex-col w-full items-start p-5">
  <!-- Header -->
  <div>
    <h1 class="text-2xl font-bold">{{ .location.Marker.Name }}</h1>
  </div>

  <!-- Messages -->
  <div class="m-5">
    {{ template "flash" .messages }}
  </div>

  <!-- Content -->
  <form
    class="w-full"
    method="post"
  >
    <div class="flex-grow container mx-auto">
      <div class="flex flex-row space-x-8">
        <div class="flex flex-col">
          <div id="map" class="w-96 h-96 rounded-lg shadow-lg mt-5" ></div>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Save map location</span>
              <input
                type="checkbox"
                name="location"
                class="checkbox"
                checked="checked"
              />
            </label>
          </div>
        </div>

        <input
          type="hidden"
          name="code"
          value="{{ .location.Marker.Code }}"
        />
        <input
          type="hidden"
          name="latitude"
          value="{{ .location.Marker.Lat }}"
        />
        <input
          type="hidden"
          name="longitude"
          value="{{ .location.Marker.Lng }}"
        />

        <!-- Location Title and Content Textarea -->
        <div class="flex-1">

          <!-- Location Title -->
          <label for="name" class="form-control w-full max-w-xs mb-5">
            <div class="label">
              <span class="label-text font-bold">Location name</span>
            </div>
            <input
              type="text"
              id="name"
              name="name"
              class="input input-bordered w-full"
              value="{{ .location.Marker.Name }}"
              placeholder="Enter title"
            />
          </label>

          <!-- Content -->
          <label for="name" class="form-control w-full my-5">
            <div class="label">
              <span class="label-text font-bold">Content</span>
              <label class="label-text-alt flex flex-row gap-3">
                Preview
                <input type="checkbox" class="toggle toggle-sm" name="preview" id="togglePreview" class="checkbox" onclick="previewMD()"/>
              </label>
            </div>
            <textarea
              id="content"
              name="content"
              rows="7"
              class="textarea textarea-bordered w-full font-mono"
              placeholder="Enter optional content here"
            >{{ .location.Content.Content }}</textarea>
            <div id="preview-content" class="card shadow-xl w-full bg-base-200 rounded-2xl p-5"></div>
            <div class="label">
              <span class="label-text-alt">This is shown to players after checking in.</span>
              <span class="label-text-alt flex flex-row content-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info w-5 h-5"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
                <span class="self-center">
                This app uses Markdown for formatting content. <a class="link" href="/admin/markdown" target="blank">Here's a quick guide</a>.</span>
                </span>
            </div>
          </label>

          <!-- Clues -->
          {{ if eq .user.CurrentInstance.Settings.NavigationMethod.String "Show Clues" }}
          <label for="clues" class="form-control w-full my-5">
            <div class="label">
              <span class="label-text font-bold">Clues</span>
            </div>
            <textarea
              id="clues"
              name="clues"
              rows="4"
              class="textarea textarea-bordered w-full"
              placeholder="Enter clues here, one per line"
            ></textarea>
            <div class="label">
              <span class="label-text-alt">One clue per line.</span>
            </div>
          </label>
          {{ end }}

          <button class="btn btn-primary">Save</button>

        </div>
      </div>
    </div>
  </form>
</div>

<script>
  coords = [170.5111643, -45.8650509]
  zoom = 17
  {{ if .location.Marker.Lng }}
  coords = [{{ .location.Marker.Lng }}, {{ .location.Marker.Lat }}]
  {{ end }}

  mapboxgl.accessToken = '{{ getEnv "MAPBOX_KEY" }}';
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    style = 'mapbox://styles/nathanhollows/cl9w3nxff002m14sy9fco4vnr'
  } else {
    style = 'mapbox://styles/nathanhollows/clszboe2y005i01oid8ca37jm'
  }
  var coordinates = document.getElementById('coordinates');
  var map = new mapboxgl.Map({
      container: 'map',
      style: style,
      center: coords,
      zoom: zoom,
  });

  var marker = new mapboxgl.Marker({
  })
  .setLngLat(coords)
  .addTo(map);

  map.on('drag', function() {
      centro=map.getCenter();
      marker.setLngLat(centro);
      // Set the latitude and longitude fields
      document.querySelector('input[name="latitude"]').value = centro.lat;
      document.querySelector('input[name="longitude"]').value = centro.lng;
      // Set the switch to true
      document.querySelector('input[name="location"]').checked = true;
  });
  // If the switch is checked, save the map location else don't
  document.querySelector('input[name="switch"]').addEventListener('change', function(e) {
      if (e.target.checked) {
          centro=map.getCenter();
          marker.setLngLat(centro);
          // Set the latitude and longitude fields
          document.querySelector('input[name="latitude"]').value = centro.lat;
          document.querySelector('input[name="longitude"]').value = centro.lng;
      } else {
          document.querySelector('input[name="latitude"]').value = "";
          document.querySelector('input[name="longitude"]').value = "";
      }
  });


  function previewMD() {
    var checkBox = document.getElementById("togglePreview");
    var textarea = document.getElementById("content");
    var preview = document.getElementById("preview-content");

    if (checkBox.checked == true){
      textarea.style.display = "none";
      preview.style.display = "block";
      preview.setAttribute("aria-busy", true)

            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/admin/markdown/preview', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                markdown: textarea.value
            }));

            xhr.onreadystatechange = (e) => {
                preview.innerHTML = xhr.response
                preview.setAttribute("aria-busy", false)
            }
        } else {
            textarea.style.display = "block";
            preview.style.display = "none";
            preview.innerHTML = null
        }
    }

</script>
{{ end }}
