{{ define "content" }}
<div class="flex flex-row justify-between items-center w-full p-5">
  <h1 class="text-2xl font-bold">Teams</h1>

  <div class="flex gap-3">
    {{ if .teams }}
    <button
      id="copy-codes"
      class="btn btn-outline"
      onclick="copy_team_codes()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-copy"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"/><path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2"/><path d="M16 4h2a2 2 0 0 1 2 2v4"/><path d="M21 14H11"/><path d="m15 10-4 4 4 4"/></svg>
      Copy codes
    </button>
    {{ end }}

    <button
      class="btn btn-secondary"
      onclick="my_modal_1.showModal()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><line x1="19" x2="19" y1="8" y2="14"/><line x1="22" x2="16" y1="11" y2="11"/></svg>
      Add teams
    </button>
  </div>
</div>

<div class="p-5">
{{ template "flash" .messages }} 
{{ if not .teams }}
  <div class="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-alert-circle text-neutral" > <circle cx="12" cy="12" r="10" /> <line x1="12" x2="12" y1="8" y2="12" /> <line x1="12" x2="12.01" y1="16" y2="16" /></svg>
    <span> <strong>Nothing to see!</strong> The are no teams to display. </span>
  </div>
{{ end }}
</div>

<!-- Show checked in teams -->
<div class="w-full p-5">
  {{ range .teams }}
  {{ if not .HasStarted }}
  <span class="team-code badge badge-ghost badge-lg m-2 font-mono">{{ .Code }}</span>
  {{ end }}
  {{ end }}
</div>

<!-- Modal for adding teams -->
<dialog
  id="my_modal_1"
  class="modal"
>
  <div class="modal-box">
    <h3 class="font-bold text-lg">Quick add teams</h3>
    <p class="py-4">How many teams would you like to add?</p>
    <form
      method="post"
      action="/admin/teams/add"
      class="join flex flex-row w-full"
    >
      <input
        name="count"
        type="number"
        id="count"
        class="input input-bordered join-item flex-grow"
        placeholder="1+"
        min="1"
        step="1"
        value="10"
      />
      <button class="btn btn-primary join-item">Add Teams</button>
    </form>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Nevermind</button>
      </form>
    </div>
  </div>
</dialog>

<script>
function copy_team_codes() {
  const team_codes = document.querySelectorAll('.team-code');
  const codes = Array.from(team_codes).map((code) => code.innerText).join('\n');
  navigator.clipboard.writeText(codes);

  const success = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-check"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"/><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/><path d="m9 14 2 2 4-4"/></svg> Copied!`

  const oldHTML = document.querySelector('#copy-codes').innerHTML;
  document.querySelector('#copy-codes').innerHTML = success;
  setTimeout(() => {
    document.querySelector('#copy-codes').innerHTML = oldHTML;
  }, 2000);
}
</script>
{{ end }}
